@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


    

body{font-family: "Playfair Display", serif;
    background-color: #fcf8dc;
    color: #85733b;
    margin: 0;
    padding: 20px;
    text-align: center;

}


.form-container{
    border: 1px solid #85733b;
    border-radius: 6px ;
    max-width: 300px;
    max-height: max-content;
    margin: 0 auto;
    padding: 20px;
   
}

.form-container h1{
    text-align: center;
}

.form-group{
    margin-bottom: 15px;
}

.form-group label{
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.form-group input, .form-group select, .form-group textarea {
    width: 94%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

.form-group textarea {
    resize:  vertical;
}

.form-group button {
    width: 30%;
    padding: 10px;
    background-color: #ecdd86;            
   font-family: "Playfair Display", serif;
   color: #85733b;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button:hover{
    background-color: #85733b;
   color: #fcf8dc;
   font-family: "Playfair Display", serif;
}

.footerlast{
    color: #85733b;
    font-size: 10px;
    text-align: center;
    padding: 50px;
    bottom: 0;
}